{% extends "../main.html" %}

{% block title %}{{ _("Home") }}{% end %}

{% block header %}
{% from models.Category import Category %}
<script>
    var categories = '{{ Category.list() }}'.replaceAll('&quot;','"');
</script>
<script src="/static/js/libs/highcharts-all.js"></script>
<script src="/static/js/libs/highcharts-more.js"></script>
<script src="/static/js/pages/missions/view.js"></script>
<script src="/static/js/pages/user/home.js"></script>
<link href="/static/css/pages/user/home.css" rel="stylesheet" />
{% end %}

{% block content %}
{% from models.GameLevel import GameLevel %}

{% from models.Hint import Hint %}
{% from tornado.options import options %}
{% set team = user.team %}
<div class="row-fluid">
    <div class="span6">
        <div class="row">
           <div class="span11 offset1 well" style="direction: rtl; text-align: right;">
                <h2 style="padding-bottom: 8px; text-align: left;">
                    <i class="fa fa-user"></i> {{ user.handle }} 
                </h2>
                <span style="float: right; margin-top: -63px; text-align: center; direction: rtl;">
                    <table>
                        <tr>
                            {% if options.teams %}<td style="padding-right: 20px;">{{ _("نقاط اللاعب") }}</td>{% end %}
                            {% if scoreboard_visible %}<td style="padding-right: 20px;">{{ _("الترتيب") }}</td>{% end %}
                        </tr>
                        <tr>
                            {% if options.teams %}
                                <td style="padding-right: 20px;">
                                    <h4 style="margin-top: 0;">{% if options.banking %}${% end %}{{ user.money }} &bull; {{ len(user.flags) }} <i class="fa fa-flag-o"></i></h4>
                                </td>
                            {% end %}
                            {% if scoreboard_visible %}
                                <td style="padding-right: 20px;">
                                    <h4 style="margin-top: 0;">{{ rank }}</h4>
                                </td>
                            {% end %}
                        </tr>
                    </table>
                </span>

                <center>
                    {% if options.teams or not team %}
                        <img src="/avatars/{{ user.avatar }}" class="img-polaroid" />
                    {% else %}
                        <img src="/avatars/{{ team.avatar }}" class="img-polaroid" />
                    {% end %}
                </center>
                <hr>
                {% if team is not None %}
                    {% set hintcount = len(Hint.all()) %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><h5 style="display: inline;">{% if options.teams %}{{ _("الفريق") }}{% else %}{{ _("اللاعب") }}{% end %}</h5></th>
                                <th style="text-align: center;"><h5 style="display: inline;">{{ _("المستوى الحالي") }}</h5></th>
                                {% if options.use_bots %}
                                    <th style="text-align: center;"><h5 style="display: inline;">{{ _("البوتات النشطة") }}</h5></th>
                                {% end %}
                                {% if hintcount > 0 %}
                                    <th style="text-align: center;"><h5 style="display: inline;">{{ _("التلميحات المستخدمة") }}</h5></th>
                                {% end %}
                                <th style="text-align: center;"><h5 style="display: inline;">{{ _("الأعلام التي تم الحصول عليها") }}</h5></th>
                                <th style="text-align: right;"><h5 style="display: inline;">{% if options.banking %}{{ _("الحساب البنكي") }}{% else %}{{ _("النقاط") }}{% end %}</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ team.name }}</td>
                                {% if len(team.levels) > 0 %}
                                    <td style="text-align: center;">{{ team.levels[-1].name }}</td>
                                {% else %}
                                    <td style="text-align: center;">0</td>
                                {% end %}
                                {% if options.use_bots %}
                                    <td style="text-align: center;">{{ team.bot_count }}</td>
                                {% end %}
                                {% if hintcount > 0 %}
                                    <td style="text-align: center;">{{ len(team.hints) }}</td>
                                {% end %}
                                <td style="text-align: center;">{{ len(team.flags) }}</td>
                                <td style="text-align: right;">{% if options.banking %}${% end %}{{ team.money }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <strong>{{ _("أنت لست ضمن أي فريق") }}</strong>
                {% end %}
            </div>

            
        </div>
        {% if len(Category.all()) > 2 %}
            <div class="row">
                <!-- Only looks good if there are at least 3 categories -->
                <div class="span11 offset1 well">
                    <h2><i class="fa fa-star"></i> {% if options.teams %}{{ _("Team") }} {% end %}{{ _("Skill Progress") }}</h2>
                    <hr style="margin-bottom: 8px;">
                    <center>
                    {% if game_started %}
                        <div id="spider_skills" style="height:400px; max-width: 550px;" data-uuid="{{ team.uuid }}" data-name="{{ _('Categories') }}">
                            <!-- Spider Chart Here -->
                        </div>
                    {% else %}
                        <div class="row" style="padding-top: 15px;">
                            <div class="span1" style="text-align: right;">
                                <i class="fa fa-pause" style="font-size: 120%;"></i>
                            </div>
                            <div class="span7 msgdescription">
                                    {{ _("Waiting for the game to start...") }}
                            </div>
                        </div>
                    {% end %}
                    </center>
                </div>
            </div>
            {% end %} 

        {% if not visitor %}
		{% from models.MarketItem import MarketItem %}
        <div class="row">
            <div class="span11 offset1 well" style="direction: rtl; text-align: right;">
                <h2>
                    <i class="fa fa-trophy"></i>
                    {{ _("انطلقوا في أولى خطوات التحدي! ") }}
                </h2>
                <hr>
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-sitemap" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {{ _("تهدف هذه الجولة إلى تعريف المشاركين بطريقة التسجيل في المنصة، والتعرّف على آلية استخدام النظام وكيفية إدخال الأعلام بالطريقة الصحيحة.") }}<br><br>
                        {{ _("سيتمكن الجميع من تجربة بيئة المسابقة الحقيقية والتأكد من نجاح عملية التسجيل واستعدادهم للجولات الفعلية القادمة.") }}<br><br>
                        {{ _("فرصة مثالية للتدريب قبل الانطلاق في التحدي الحقيقي — استعدوا، اكتشفوا المنصة، وابدأوا أول مغامرة لكم في عالم الأمن السيبراني!") }}
                    </div>
                </div>
                <br/>
                {% if options.show_organizor_help %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-question-circle" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {{ _("إذا كان لديك أي أسئلة أو تحتاج مساعدة، فلا تتردد في سؤال أحد المنظمين.") }}
                    </div>
                </div>
                <br/>
                {% end %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-crosshairs" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        <b>{{ _("ملاحظة مهمة:") }}</b><br>
                        {{ _("هذه الجولة لا تُحتسب ضمن مراحل التأهّل القادمة، فهي جولة تجريبية تهدف إلى مساعدة المشاركين على فهم آلية التحديات وتجربتها قبل بدء الجولات الرسمية.") }}
                    </div>
                </div>
                <br/>
                {% if options.dynamic_flag_value %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-bar-chart-o" style="font-size: 180%"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {% if options.dynamic_flag_type == "decay_future" %}
                            {{ _("تم إعداد هذه اللعبة لاستخدام نظام نقاط ديناميكي يعتمد على السرعة؛ مما يعني أنه كلما استولى لاعبون آخرون على الأعلام ستنخفض القيمة المستقبلية لتلك الأعلام. فالتقطها بسرعة وإلا ستفقد فرصتك!") }}
                        {% else %}
                            {{ _("تم إعداد هذه اللعبة لاستخدام نظام نقاط ديناميكي يعتمد على الصعوبة؛ مما يعني أنه كلما استولى لاعبون آخرون على الأعلام ستنخفض القيمة الإجمالية لتلك الأعلام وقد يؤثر ذلك على نتيجتك.") }}
                        {% end %}
                    </div>
                </div>
                <br/>
                {% end %}
                {% if options.penalize_flag_value %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-minus-circle" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {{ _("للإخفاق ثمن. احذر، فهنالك عقوبات تُطبّق عند إرسال إجابات خاطئة.") }}
                        {{ _("نسبة الخصم هي") }} {{ options.flag_penalty_cost }}% {{ _("من قيمة العلم. سيبدأ الخصم من المحاولة") }} {% set n = options.flag_start_penalty %}{{str(n)+("th" if 4<=n%100<=20 else {1:"st",2:"nd",3:"rd"}.get(n%10, "th"))}} 
                        {{ _("وتستمر حتى المحاولة") }} {% set n = options.flag_stop_penalty - 1 %}{{str(n)+("th" if 4<=n%100<=20 else {1:"st",2:"nd",3:"rd"}.get(n%10, "th"))}}. {{ _("لا يوجد خصم إضافي بعد ذلك.") }}
                        <!-- أقصى خسارة هي {{ (options.flag_stop_penalty - options.flag_start_penalty) * options.flag_penalty_cost }}% من قيمة العلم. -->
                    </div>
                </div>
                <br/>
                {% end %}
                {% if options.banking %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-dollar" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {{ _("المسألة تتعلق بالمال وحان وقت تحويل تلك المهارات إلى رصيد! تم إعداد هذه اللعبة لاستخدام نظام بنكي داخل اللعبة، فابنِ ثروتك واشترِ ما تحتاجه للفوز.") }}
                    </div>
                </div>
                <br/>
                {% end %}
                {% if options.use_black_market %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-shopping-cart" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {% if options.use_black_market %}
                            {{ _("السوق السوداء مفتوح وتعرف شخصًا ما. العناصر التالية متاحة:") }}
                            {% set market_items = MarketItem.all() %}
                            {% if market_items %}
                                <ul>
                                {% for index, item in enumerate(market_items) %}
                                    {% if item.name in options.allowed_market_items %}
                                        <li>
                                            <b>{{ _(item.name) }}</b>: {{ _(item.description) }}
                                        </li>
                                    {% end %}
                                {% end %}
                                </ul>
                            {% end %}
                        {% end %}
                    </div>
                </div>
                <br/>
                {% end %}
                {% if options.use_bots %}
                <div class="row">
                    <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                        <i class="fa fa-android" style="font-size: 180%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                        {{ _("حان وقت إنشاء شبكة بوت. بتحميل برنامج بوت صغير لاستهداف الأجهزة، يمكنك الحصول على مكافآت دورية عن كل بوت في شبكتك؛ كلما كبرت الشبكة زادت المكافأة.") }}
                    </div>
                </div>
                <br/>
                {% end %}
            </div>

        </div>
        {% end %}
    </div>

    {% if options.teams and team and not visitor %}
        <div class="span5 well" style="width: 46%; direction: rtl; text-align: right;">
            <h2>
                <i class="fa fa-group"></i>
                {{ _("معلومات الفريق") }}
            </h2>
            <hr>      
            <div class="row">
                <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                    <i class="fa fa-key" style="font-size: 180%;"></i>
                </div>
                <div class="span7 msgdescription">
                        {{ team.code }}<br>{{ _("شارك كود فريقك للسماح للاعبين الآخرين بالانضمام إلى") }} {{ team.name }}.
                </div>
            </div>
        </div>
    {% end %}

        <div class="span5 well" style="width: 46%; direction: rtl; text-align: right;">
            <h2>
                <i class="fa fa-flag"></i> 
                {% if options.teams %}{{ _("فريق") }} {% end %}{{ _("تقدم المهمة") }}
            </h2>
            <hr style="margin-bottom: 8px;">
            {% if game_started %}
                {% for index, level in enumerate(GameLevel.all()) %}
                    {% set show_level = level.type != "hidden" or (level.type == "hidden" and level in team.game_levels) %}
                    {% if len(level.unlocked_boxes()) > 0 and team and show_level %}
                        {% if len(GameLevel.all()) > 1 %}
                        <h3 class="levelheader">
                            {% if level.type == 'none' or level in team.game_levels %}
                                <i class="fa fa-unlock-alt"></i>
                            {% else %}
                                <i class="fa fa-lock"></i>
                            {% end %}
                            {{ level.name }}&nbsp;
                        </h3>{% end %}
                        {% if level.description %}<h4 class="levelheader">({{ level.description }})<h4>{% end %}
                        {% if len(team.level_flags(level.number)) != 0 %}
                            <div class="progress" style="height: 8px; margin-bottom: 15px; background-color: #424242;">
                                <div class="bar minibar" style="width: {{ ( len(team.level_flags(level.number)) /  float(len(level.flags)) ) * 100.0 }}%;" title="{{ len(team.level_flags(level.number)) }} / {{ len(level.flags) }}">
                                </div>
                            </div>
                        {% end %}
                        {% if level.type == 'none' or level in team.game_levels %}
                            <hr style="margin: 5px 0;">
                            {% for box in sorted(level.unlocked_boxes()) %}
                                {% if not box.locked and len(box.flags) > 0 %}
                                <div class="row" style="margin-right: 16px;">
                                    <div class="span4">
                                        <a href="/user/missions/boxes?uuid={{ box.uuid }}">
                                            <h5 style="display: inline;">
                                                {% if box.operating_system.lower() == "windows" %}
                                                <i class="fa fa-windows"></i>
                                                {% elif box.operating_system.lower() == "linux" %}
                                                <i class="fa fa-linux"></i>
                                                {% elif box.operating_system.lower() == "apple" %}
                                                <i class="fa fa-apple"></i>
                                                {% elif box.operating_system.lower() == "?" %}
                                                <i class="fa fa-desktop"></i>
                                                {% else %}
                                                <i class="fa fa-th"></i>
                                                {% end %} {{ box.corporation.name }} - {{ box.name }}
                                            </h5>
                                        </a>
                                    </div>
                                    {% set flagcount=0 %} 
                                    {% for index, flag in enumerate(sorted(box.flags)) %} 
                                        {% if flag in team.flags %} 
                                            {% set flagcount += 1 %}
                                        {% end %} 
                                    {% end %}
                                    <div class="span8" style="padding-top: 6px;">
                                        <table style="width: 100%; margin: 0 3px;"><tr>
                                        {% for index, flag in enumerate(sorted(box.flags)) %} 
                                            <td style="padding: 0 3px;">
                                                <div class="progress" style="height: 8px; background-color: #424242;" title="{{ flag.name }}">
                                                    <div class="bar minibar" style="width: {% if flag in team.flags %}100{% else %}0{% end %}%;"></div>
                                                </div>
                                            </td>
                                        {% end %}
                                        </tr></table>
                                    </div>
                                </div>
                                {% end %}
                            {% end %}
                            <br/>
                        {% else %}
                            <hr style="margin: 5px 0;">
                        {% end %}
                    {% end %}
                {% end %}
            {% else %}
                <div class="row" style="padding-top: 15px;">
                    <div class="span1" style="text-align: right;">
                        <i class="fa fa-pause" style="font-size: 120%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                            {{ _("في انتظار بدء اللعبة...") }}
                    </div>
                </div>
            {% end %}
        </div>

        {% if options.teams %}

        <div class="span5 well" style="width: 46%; direction: rtl; text-align: right;">
            <h2>
                <i class="fa fa-flag"></i> 
                {{ _("تقدم مهمة اللاعب") }}
            </h2>
            <hr style="margin-bottom: 8px;">
            {% if game_started %}
                {% for index, level in enumerate(GameLevel.all()) %}
                    {% set show_level = level.type != "hidden" or (level.type == "hidden" and level in team.game_levels) %}
                    {% if len(level.unlocked_boxes()) > 0 and team and show_level %}
                        {% if len(GameLevel.all()) > 1 %}
                        <h3 class="levelheader">
                            {% if level.type == 'none' or level in team.game_levels %}
                                <i class="fa fa-unlock-alt"></i>
                            {% else %}
                                <i class="fa fa-lock"></i>
                            {% end %}
                            {{ level.name }}&nbsp;
                        </h3>{% end %}
                        {% if level.description %}<h4 class="levelheader">({{ level.description }})<h4>{% end %}
                        {% if len(team.level_flags(level.number)) != 0 %}
                            <div class="progress" style="height: 8px; margin-bottom: 15px; background-color: #424242;">
                                <div class="bar minibar" style="width: {{ ( len(team.level_flags(level.number)) /  float(len(level.flags)) ) * 100.0 }}%;" title="{{ len(team.level_flags(level.number)) }} / {{ len(level.flags) }}">
                                </div>
                            </div>
                        {% end %}
                        {% if level.type == 'none' or level in team.game_levels %}
                            <hr style="margin: 5px 0;">
                            {% for box in sorted(level.unlocked_boxes()) %}
                                {% if not box.locked and len(box.flags) > 0 %}
                                <div class="row" style="margin-right: 16px;">
                                    <div class="span4">
                                        <a href="/user/missions/boxes?uuid={{ box.uuid }}">
                                            <h5 style="display: inline;">
                                                {% if box.operating_system.lower() == "windows" %}
                                                <i class="fa fa-windows"></i>
                                                {% elif box.operating_system.lower() == "linux" %}
                                                <i class="fa fa-linux"></i>
                                                {% elif box.operating_system.lower() == "apple" %}
                                                <i class="fa fa-apple"></i>
                                                {% elif box.operating_system.lower() == "?" %}
                                                <i class="fa fa-desktop"></i>
                                                {% else %}
                                                <i class="fa fa-th"></i>
                                                {% end %} {{ box.corporation.name }} - {{ box.name }}
                                            </h5>
                                        </a>
                                    </div>
                                    {% set flagcount=0 %} 
                                    {% for index, flag in enumerate(sorted(box.flags)) %} 
                                        {% if flag in user.flags %} 
                                            {% set flagcount += 1 %}
                                        {% end %} 
                                    {% end %}
                                    <div class="span8" style="padding-top: 6px;">
                                        <table style="width: 100%; margin: 0 3px;"><tr>
                                        {% for index, flag in enumerate(sorted(box.flags)) %} 
                                            <td style="padding: 0 3px;">
                                                <div class="progress" style="height: 8px; background-color: #424242;" title="{{ flag.name }}">
                                                    <div class="bar minibar" style="width: {% if flag in user.flags %}100{% else %}0{% end %}%;"></div>
                                                </div>
                                            </td>
                                        {% end %}
                                        </tr></table>
                                    </div>
                                </div>
                                {% end %}
                            {% end %}
                            <br/>
                        {% else %}
                            <hr style="margin: 5px 0;">
                        {% end %}
                    {% end %}
                {% end %}
            {% else %}
                <div class="row" style="padding-top: 15px;">
                    <div class="span1" style="text-align: right;">
                        <i class="fa fa-pause" style="font-size: 120%;"></i>
                    </div>
                    <div class="span7 msgdescription">
                            {{ _("في انتظار بدء اللعبة...") }}
                    </div>
                </div>
            {% end %}
        </div>

        {% end %}
        <div class="span5 well" style="width: 46%; direction: rtl; text-align: right;">
            <h2>
                <i class="fa fa-trophy"></i>
                {{ _("قوانين المسابقة") }}
            </h2>
            <hr>

            <div class="row">
                <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                    <i class="fa fa-flag" style="font-size: 180%;"></i>
                </div>
                <div class="span7 msgdescription">
                    {{ _("• في مسابقات التقط العلم (CTF) نعتمد على سرعة حلّ اللاعب وقدرته الذكية في إيجاد العلم بأبسط وأسرع طريقة ممكنة.") }}<br><br>

                    {{ _("• قبل البدء، يُنصح بما يلي:") }}<br>
                    <ol style="margin-top: 8px; list-style-type: decimal; padding-right: 20px; text-align: right;">
                        <li>{{ _("قراءة دليل الطالب لعالم الأمن السيبراني المتوفر في منصة نور.") }}</li>
                        <li>{{ _("حلّ المختبرات العملية الموجودة في منصة نور للتدرّب على بيئة التحدي.") }}</li>
                        <li>{{ _("تنزيل وفتح منصة المسابقة من داخل نظام كالي لينكس (Kali Linux) لتسهيل استخدام الأدوات والتقنيات اللازمة لحل التحديات.") }}</li>
                        <li>{{ _("عند العثور على الإجابة، تأكّد من نسخها بنفس الصيغة تمامًا لضمان احتساب النقاط في المسابقة.") }}</li>
                    </ol>
                    <br>
                    <b>{{ _("ملاحظة:") }}</b> {{ _("في حال كانت الصيغة غير صحيحة، لن تُحتسب الدرجات للعلم.") }}
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="span1 offset1" style="text-align: center; padding-top: 5px;">
                    <i class="fa fa-list-alt" style="font-size: 180%;"></i>
                </div>
                <div class="span7 msgdescription">
                    <h4 style="margin:0 0 6px 0;">{{ _("التحديات والمستويات") }}</h4><br>
                    <ul style="margin-top: 6px;">
                        <li>{{ _("تتكوّن هذه الجولة من صندوقين رئيسيين.") }}</li>
                        <li>{{ _("يُمثّل كل صندوق سيناريو محدد (مثل: تحقيق جنائي أو هجوم إلكتروني).") }}</li>
                        <li>{{ _("يحتوي كل صندوق على تحديين أو ثلاثة تحاكي مهامًا واقعية.") }}</li>
                        <li>{{ _("جميع التحديات تتبع نمط السؤال والجواب.") }}</li>
                        <li>{{ _("يُصنَّف كل صندوق ضمن مستوى صعوبة: سهل – متوسط – صعب.") }}</li>
                        <li>{{ _("يتم حلّ التحديات من خلال تحديد وتقديم العلم (Flag) الصحيح.") }}</li>
                        <li>{{ _("للحصول على المواد المطلوبة لحل التحديات ادخل على: Tools > Game Materials كما هو موضح في دليل الطالب لآلية التسجيل وبدء التحديات.") }}</li>
                    </ul>
                </div>
            </div>
            <br/>
        </div>




    
</div>
{% end %}
